.header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 20px 0 20px;
}

.chart-container {
    padding: 0 0 10px 0px;
    border: solid 1px #ebebeb;
}

.chart {
    width:100%;
}