.analytics-card {
    margin: 0;
    padding: 10px 0px;
    background-color: #ebebeb;
    border-radius: 0;
    height: 100%;
}

.analytics-page {
    margin: 0;
    padding: 10px 0px;
    background-color: #ebebeb;
    border-radius: 0;
    width: 800px;
}

.segment-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.segment-card {
    border: solid 1px black;
}


.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px 0;
}

.line-item {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.line {
    flex: 1;
    height: 0;
    border: solid 1px #ddd;
}



  