@import '@angular/material/prebuilt-themes/indigo-pink.css'; 

.app-background {
  height: 100vh;
  background-position: 150% 150%;
  /* background: url('../public/globe.svg') center/contain no-repeat; */
  /* opacity: .2; */
  /* background-color: #f0f0f0;  */
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.header {
  display:flex;flex-direction:row;align-items:center;gap:20px;
}

.footer {
  padding: 60px;
}

.caption {
  text-align: right;
  color: #222;
}

.dashboard-grid {
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}

.mat-mdc-card {
  border-radius: 0 !important;
}

@media (max-width: 1024px) {
  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  
  .header {
    display:flex;flex-direction:column; justify-content: start; align-items: start;
  }

  .dashboard-grid {
      display:grid;grid-template-columns:1fr;gap:20px;
  }
}